<div class='container my-3'>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Banda</th>
                <th scope="col">N° Integrantes</th>
                <th scope="col">Fecha debut</th>
                <th scope="col">Tipo</th>
                <th scope="col">Total conciertos</th>
                <th scope="col">Total asistentes</th>
                <th colspan="2"></th>
            </tr>
        </thead>
        <tbody>
            <% @bands.each do |band| %>
            <tr>
                <td><%= link_to "#{band.name}", band_path(band)%></td>
                <td><%= band.members %></td>
                <td><%= band.first_show.strftime("%d-%m-%Y") %></td>
                <td><%= band.band_type %></td>
                <td><%= band.name %></td>
                <td><%= band.name %></td>
                <td><%= link_to 'Editar', edit_band_path(band) %></td>
                <td><%= link_to 'Eliminar', band, method: :delete, data: {confirm: "¿Está seguro de eliminar la información asociada a #{band.name}?"} %></td>
            </tr>
            <% end %>
        </tbody>
    </table>
    <br>
    <%= link_to 'Agregar una nueva Banda', new_band_path %>
</div>