<div class='container'>
    <div class='row'>
        <div class='my-3  justify-content-center col-md-4'>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title text-center"><strong><%= @band.name %></strong></h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong><%= "Integrantes:" %></strong></li>
                    <% @crews.each do |member|%>
                    <li class="list-group-item border-0"><%= "#{member.name} / #{member.instrument}" %></li>
                    <% end %>
                    <li class="list-group-item"><strong>Conciertos en este mes:</strong> <%=  @band.this_month %></li>
                    <li class="list-group-item"><strong>Último concierto: </strong><%=  @band.last_concert%></li>
                    <li class="list-group-item"><strong>Máximo de asistentes: </strong><%=  @band.max_assistants %></li>
                    <li class="list-group-item"><strong>Mayor duración de concierto: </strong><%= @band.longest %></li>  
                </ul>
            </div>
        </div>
        <div class='my-3 col-md-8'>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Fecha</th>
                        <th scope="col">Lugar</th>
                        <th scope="col">Asistentes</th>
                        <th scope="col">Duración (min)</th>
                        <th colspan="2"></th>
                    </tr>
                </thead>
                <tbody class='text-center'>
                    <% @concerts.order(date: :desc).each do |concert| %>
                        <tr>
                            <td class='text-left'><%= concert.date.strftime("%d-%m-%Y")%></td>
                            <td><%= concert.place %></td>
                            <td><%= concert.assistants%></td>
                            <td><%= concert.duration %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>